<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List of Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %} Hello, {{ user.username }}
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href = "{% url 'home' %}">Home</a>
                    <a href="{% url 'account_list' %}">Account</a>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %} 
        {% endblock content %}
    </body>
</html>